body {
  margin:0;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
	font-size: larger;
}
.logo:hover {
  animation-name: logo-animation;
  animation-duration: 2s;  
  animation-iteration-count: 1;
  transform-origin: 80% 80%;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
@keyframes logo-animation {
    0% { transform: rotate( 0.0deg) }
   /* 10% { transform: rotate(1.0deg) }  The following five values can be played with to make the waving more or less extreme */
   /* 20% { transform: rotate(20.0deg) } */
   35% { transform: rotate(30.0deg) }
   40% { transform: rotate(0.0deg) }
   /* 45% { transform: rotate(2.0deg) } */
   /* 55% { transform: rotate( -1.0deg) }  Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}